.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container img {
    width: 450px; /* Adjust size as needed */
    height: 450px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the space without being distorted */
}

.text-container {
    max-width: 600px; /* Adjust width as needed */
    margin: 20px;
    /* text-align: center; */
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-right: 3px;
    /* width: 100%;
    margin-right: -20px */
}

.btn {
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #ff7043; /* Placeholder color */
    height: 28px;
}

.btn-resume { 
    background-color: goldenrod;
    margin-right: 4px;
    display: block;
    flex-direction: row;
    
 } /* Yellow */
.btn-projects { 
    background-color: darkred;
 } /* Red */
.btn-contact { 
    background-color: #29b6f6; 
} /* Light blue */

button a {
    text-decoration: none;  /* Removes the underline from the links */
    color: white;            /* Sets the text color */
    /* margin: 0 10px;         Provides spacing between the links */
    font-size: 12px;        /* Set the font size */
    display: inline-block;  /* Allows transform to work properly */
    transition: transform 0.1s ease; /* Smooth transition for scaling */
    transform-origin: center; /* Ensures the scaling is centered */
    font-weight: bold;
    letter-spacing: 2px;
}

/* Changes when hovering over the links */
button a:hover {
    transform: scale(1.1); /* Scales up the font size by 10% */
    /* Optional: Add a font-weight change if you want it bolder */
    font-weight: bold;
}

.contact-section {
    display: flex;
    margin-right: 10px;
}

.contact-section a:last-child{
    margin-left: 4px;
}

.button-contact {
    display: flex;
    margin: 20px;
}
.hello {
    font-size: 50px;
    text-align: left;
    color: black;
}

@media (max-width: 770px) {
    .profile-container {
        flex-direction: column; /* Stack sections vertically on small screens */
        /* width: 100%; */
    }
}
